@import '../style.global.scss';

@keyframes slideInLeft {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0px;
    }
}

@keyframes slideOutLeft {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: -100%;
    }
}

@keyframes slideOutRight {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: 100%;
    }
}

@keyframes slideInRight {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0px;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div.newsroom[data-app="n86510d1241100465"] {
    background-color: #1C1C1C;
    color: #EEE;
    overflow: hidden;

    h1 {
        color: #EEE;
        margin: 0px;
    }

    div#loading {
        display: block;
    }

    div#app {
        display: none;
        position: relative;
        height: 600px;

        div#slider {
            height: 400px;
            width: 100%;
            background-color: #CCC;
            position: absolute;

            div.slide-image {
                position: absolute;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center center;
                animation-duration: .5s;
            }

            div#previous-image {
                margin-left: -100%;
            }

            div#next-image {
                margin-right: 100%;
            }

            div.buttons {
                position: absolute;
                height: 100%;
                width: 35%;
                opacity: 0.25;
                cursor: pointer;
            }

            div.buttons:hover {
                opacity: 0.5;
            }

            div#back {
                left: 0px;
                background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
            }

            div#forward {
                right: 0px;
                background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
            }
        }

        span#footer {
            font-size: 0.5em;
            opacity: 0.5;
            position: absolute;
            bottom: 10px;
            left: 15px;
        }

        span#description {
            position: absolute;
            display: block;
            top: 400px;
            padding: 15px;
            font-weight: 100;
            font-size: 0.85em;
            animation-duration: .5s;
        }
    }
}

@media only screen and (max-device-width: 480px) {
    div.newsroom[data-app="n86510d1241100465"] {
        box-sizing: border-box;
    }
}